.status {
  display: flex;
  align-items: center;
}

.statu-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status input[type='radio'] {
  margin: 15px 0;
}

.statu-group label {
  padding-left: 0.5em;
  font-size: 1.3em;
}

.form-detail {
  height: 200px !important;
  resize: none;
}

/* .form-group {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px 0;
}

.form-group label {
  display: none;
}

.form-group input {
  width: 100%;
  height: 50px;
  margin: 0 10px;
}

.form-group button {
  display: block;
  width: 100%;
} */

/* @media screen and (max-width: 700px) {
  .form-group {
    flex-direction: column;
  }
  .form-group input {
    margin-bottom: 15px;
  }
} */
