.container-area {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}

.login {
  width: 600px;
  background-color: #eaeaec;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-area {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #47b453;
}

.logo-area img {
  padding: 20px;
  width: 170px;
}

form h1 {
  text-align: center;
  color: #181c2e;
  margin-bottom: 0.5em;
}

form {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
}

form input {
  margin-bottom: 15px;
  height: 35px;
  border: none;
  border-radius: 7px;
  padding: 10px;
  font-size: 15px;
  background-color: #fff;
  color: #47b453;
}

form button {
  height: 35px;
  border: none;
  border-radius: 7px;
  background-color: #47b453;
  color: #fff;
  font-size: 1.3em;
}

.login a {
  margin: 1.5em 0;
  color: #181c2e;
}
